@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";

/* test */

@theme {
  --color-primary: #3f53d9;
  --color-modal-overlay: rgba(107, 114, 128, 0.75);
  --color-coach-primary: #3a2662;
  --color-admin-primary: #652cb3;

  --color-primary-900: #000000;
  --color-primary-800: #262626;
  --color-primary-700: #434343;
  --color-primary-600: #555555;
  --color-primary-500: #7b7b7b;
  --color-primary-400: #9e9e9e;
  --color-primary-300: #c4c4c4;
  --color-primary-200: #d9d9d9;
  --color-primary-100: #e9e9e9;
  --color-primary-0: #ffffff;
  --color-secondary-800: #f36a0e;
  --color-secondary-700: #f97a0e;
  --color-secondary-600: #ff8a0e;
  --color-secondary-500: #ff9610;
  --color-secondary-400: #ffa62b;
  --color-neutral-300: #e0e0e0;
  --color-neutral-200: #eeeeee;

  --color-success-600: #10b981;
  --color-success-700: #059669;
  --color-success-50: #ecfdf5;
  --color-success-200: #a7f3d0;

  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;

  --color-info-50: #eff6ff;
  --color-info-200: #bfdbfe;
  --color-info-700: #1d4ed8;

  --color-red-400: #f87171;
  --color-red-500: #ef4444;

  --color-disabled-400: #9ca3af;
  --color-disabled-50: #f9fafb;
  --color-disabled-300: #d1d5db;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: "Noto Sans TC, ui-sans-serif, system-ui, sans-serif";
}

html,
body {
  overflow-x: hidden;
}

@layer base {
  /* 覆盖浏览器自动填充样式 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: theme("colors.primary.0");
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px theme("colors.primary.800");
  }
}
